/* Pagina Principal */

.pagina-principal {
    position: center;
    text-align: center;
    width: 1291px;
    height: 834px;
}

/* Rectangle 1 */

.rectangle-1 {
    position: absolute; /* Change position to absolute */
    width: 200px;
    height: 1000px;
    left: 550px; /* Adjust left position */
    top: -350px; /* Adjust top position */
    background: linear-gradient(180deg, #7EBDAA 0%, #78B4A2 49.5%, #3A574E 100%);
    border-radius: 15px;
    transform: rotate(-90.02deg);
}

/* Nombre de la empresa */

.nombre-empresa {
    position: absolute;
    width: 447px;
    height: 44px;
    left: 423px;
    top: 88px;
    font-family: 'Fantasy';
    font-style: Copperplate;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

/* Clientes */

.clientes {
    position: absolute;
    width: 126px;
    height: 39px;
    left: 258px;
    top: 596px;
    cursor: pointer;
    font-family: 'Fantasy';
    font-style: Copperplate;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: #000000;
}
.clientes:hover {background-color: #7EBDAA}
.clientes:active {
    background-color: #7EBDAA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/* Progreso */

.progreso {
    position: absolute;
    width: 139px;
    height: 46px;
    left: 897px;
    top: 592px;
    cursor: pointer;
    font-family: 'Fantasy';
    font-style: Copperplate;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: #000000;
}
.progreso:hover {background-color: #7EBDAA}
.progreso:active {
    background-color: #7EBDAA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/* Salir */

.salir {
    position: absolute;
    width: 68px;
    height: 39px;
    left: 171px;
    top: 753px;
    cursor: pointer;
    font-family: 'Fantasy';
    font-style: Copperplate;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: #000000;
}
.salir:hover {background-color: #7EBDAA}
.salir:active {
    background-color: #7EBDAA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/* Registro */

.registro {
    position: absolute;
    width: 128px;
    height: 39px;
    left: 581px;
    top: 596px;
    cursor: pointer;
    font-family: 'Fantasy';
    font-style: Copperplate;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: #000000;
}
.registro:hover {background-color: #7EBDAA}
.registro:active {
    background-color: #7EBDAA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

